<a href="https://colab.research.google.com/github/Deep-of-Machine/Data_analyze/blob/main/2%ED%95%99%EB%85%8413%EB%B0%98_st15_%EB%B9%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EB%B6%84%EC%84%9D(1%2C2%EC%B0%A8%EC%8B%9C)_%ED%8C%8C%EC%9D%B4%EC%8D%AC%EA%B8%B0%EB%B3%B8%EB%AC%B8%EB%B2%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#파이썬 기본 문법

print()함수로 출력하기

In [ ]:
#숫자 출력
print(1000)

In [ ]:
#문자열 출력
print('hello')

**변수란?**
* 변하는 값, 

* 파이쏭님! 안녕하세요!

* 하나의 값으로 고정되어 있지 않고 변하는 값을 저장할 수 있는 공간

In [ ]:
name = '파이쏭'
print(name)

* name은 (   　　　　　  ), = 은 오른쪽 값을 왼쪽에 대입

* 변수의 이름은 숫자로 시작하면 (  　　　　　　　　　    )
* 변수의 이름은 잘 나타낼 수 있는 이름으로 정하기

In [ ]:
#변수의 이름은 num, 저장된 값은 1024
num = 1024 
print(num)

In [ ]:
#변수의 이름은 name, 저장된 값은 '파이쏭'
name = '파이쏭'
print(name , '님! 안녕하세요')

* 문자, 숫자, 변수를 연결 시킬 때 ','(콤마)를 사용한다.
* #로 시작하는 문장은 실행하는데 영향을 주지 않는다. 이름은 바로 ( 　　　　　　　　　 )

**input()함수**로 문자열 값 입력받기

In [ ]:
name = input() #문자열을 입력받는 함수
print(name , '님! 안녕하세요!')

* 왜 문자열 값을 받는다고 했을까?

* 숫자는 안될까?

In [ ]:
age = input('나이를 입력해주세요! : ')
print(age-4)

* str는 문자열의 약자  , int는 integer 정수의 약자로 

* str에서 int빼려고 오류

* input()함수로 저장된 데이터 형식은 ?  ( 　　　　　　　　　 )

In [ ]:
name = input('이름을 입력해주세요:')
age = int(input('나이를 입력해주세요:'))
print('안녕하세요',name,'님! 저는 처음에',str(age-4)+'살인 줄 알았어요!')

*이름을 입력해주세요:에 '김지현'을 입력하고, 

  나이를 입력해주세요:에 '18'을 입력하면 출력되는 결과는?


 **1**.안녕하세요 김지현 님! 저는 처음에 14살인 줄 알았어요!

 **2**.안녕하세요 김지현이 님! 저는 처음에 22살인 줄 알았어요!

 **3**.안녕하세요 김지횬 님! 저는 처음에 29살인 줄 알았어요!

#연산자 사용하기
**산술연산자?**
숫자 계산을 위한 기호

In [ ]:
print(3 * 10)
print(3 ** 10) #거듭제곱 연산자
print(3 % 10)
print(3 / 2) #실수 나눗셈 
print(3 // 2) #정수 나눗셈

**비교연산자?** 참, 거짓을 가지는 연산자

In [ ]:
print(10 >= 3)
print(10 <= 3)
print(10 == 3)
print(10 != 3)
print(3%2 == 1)

- 연산자 사이에 띄어쓰기를 해도 실행이 될까? 예를 들어 = = 
  
  실행해봅시다.

**논리연산자?** 비교연산자를 2개이상 사용하기 위한 연산자

- and는 양쪽의 문장이 모두 참(True)이면 참(True)를 출력

- or은 양쪽의 문장 중, 한 개라도(True)이면 참(True) 출력

In [ ]:
논리연산자 and
print(1==1 and 2 != 1 )
print(10%2!= 0 and 1+1 > 0)

print(10 < 5 or 10 == 5)
print(10 % 2 != 0 or 1 + 1 > 0)

**논리부정 not** : True상태를 False로, False상태를 True로 변경하는 연산자

In [ ]:
print(not 10 > 5)
print(not 10 == 5)
print(not 0)
print(not True)

**함수 불러오기**

- 지금까지 우리가 사용했던 함수는?

- 외장함수 불러오기 위해서는 import명령을 사용합니다.

In [ ]:
#외장함수, 랜덤한 정수 불러오기
import random
dice = random.randint(1,6)
print(dice)

- 제곱근 함수를 사용하려면 math 수학 라이브러리(외장함수)를 사용합니다.

In [ ]:
import math
print(math.sqrt(2))

- 내가 원하는 기능이 라이브러리에 있는지 확인하기
https://docs.python.org/ko/3/library/index.html

- 네이버나 구굴에 ~~기능 함수(모듈) 검색하기

#반복과 선택
- 컴퓨터는 많은 양의 데이터를 처리, 반복과 선택을 통해 효율적인 동작을 합니다.


* for반복문 : 주어진 데이터 세트를 순회하거나 원하는 횟수만큼 반복

- for A in B:
      반복할 문장1

      반복할 문장2

- B라는 데이터 세트에서 A로 가져와 임시로 저장한다.

***문제!!!!** B데이터 세트에 9개의 데이터가 있을 때 반복할 문장1과 반복할문장 2는 몇 번 반복?

In [ ]:
#for문 사용하기
name = '파이쏭'
for i in name :
  print(i)

In [ ]:
#name의 값을 바꿔보세요

In [ ]:
#name의 출력 값은?
names = ['쵸파','루피','상디','조로']
for name in names:
  print(name)

In [ ]:
for i in [0,1,2,3]:
  print(i**2)

- 숫자의 범위를 0~99까지 늘리려면,, 
- 효율적인 방법으로 프로그래밍!

In [ ]:
for i in range(100): #0이상 100미만(0~99)의 범위를 갖는 정수
  print(i**2)

- '나는 파이썬 왕이 될 사람이다'라는 문장을 10번 출력하도록 프로그래밍 하세요.

In [ ]:
for i in range():
  print('  ')

- for문 다르게 표현하기

In [ ]:
for i in range(1,101):
  print('1부터 100까지 출력')

for i in range(2,100,3):
  print('2부터 99까지 정수가 3씩 간격을 두고 생성')

**if조건문**

- 매일매일 수많은 선택을 하면서 살아가는데, 컴퓨터가 조건에 맞게 명령하도록 조건문을 사용합니다.
프로그래밍에서 선택과 반복은 중요!!!

- if조건문은 주어진 조건이 True(참)일때만 실행

- if의 기본구조
if 조건 :

    조건이 참일 경우 실행할 문장1
    
    조건이 참일 경우 실행할 문장2

In [ ]:
if 10>0:
  print('안녕하세요?')

In [ ]:
if 10!=0 and 5%2 == 1:
  print('안녕하세요?')

* input(), int(), 변수, if를 함께 사용하기

In [ ]:
passwd = int(input('비밀번호 4자리를 입력하세요:'))
if passwd == 1531:
  print('비밀번호가 일치합니다.')

- for반복문과 함께 사용하기

In [ ]:
for i in range(10000):
  if i == 1531:
    print('비밀번호가 일치합니다.')

In [ ]:
passwd = int(input('비밀번호 4자리를 입력하세요:'))
if passwd == 1531:
  print('비밀번호가 일치합니다.')
else :
  print('      ')

- if로 만든 심리테스트

In [ ]:
print('[소름끼치도록 놀라운 심리테스트]')
menu = input('당신이 좋아하는 음식을 입력해주세요:')
if menu == '짜장면':
  print('당신은 짜장면을 좋아하는 사람입니다.')
elif menu == '아이스크림':
  print('당신은 아이스크림을 좋아하는 사람입니다.')
elif menu == '사탕':
  print('당신은 사탕을 좋아하는 사람입니다.')
else :
  print('당신은 짜장면과 아이스크림과 사탕을 좋아하지 않는 사람입니다.')

#순서 있는 저장 공간 리스트

* **리스트(list)** : 순서가 있는 데이터 구조

In [ ]:
#반복문에서 봤던 리스트
for i in [0,1,2,3]:
  print(i**2)

In [ ]:
num = []
for i in num:
  print(num**2)

- 문자 리스트

In [ ]:
names = ['쵸파','루피','상디','조로']
for name in names:
  print(name)

***리스트에 저장된 위치(index)로 접근하기(indexing)**

* 항상 0부터 시작

In [ ]:
names = ['쵸파','루디','상디','조로']
print(names[1])

- 대괄호 안의 숫자가 의미하는 것은?

In [ ]:
names = ['쵸파','루디','상디','조로']
print(name[0])
print(name[1])
print(name[2])
print(name[3])

In [ ]:
names = ['쵸파','루디','상디','조로']
print(name[-1]) #인덱스 -1:뒤에서 첫 번째 데이터 접근

***리스트에 저장된 위치로 데이터의 일부 자르기(slicing)**

In [ ]:
names = ['쵸파','루디','상디','조로']
print(names[0:2])
print(names[1:3])
print(names[1:])
print(names[:])

***리스트에 값 추가하기**

In [ ]:
names=['쵸파','루디','상디','조로']
names.append('나미')
print(names)

- 리스트에 몇 개의 데이터가 저장되었는지 확인하려면? len( )함수

In [ ]:
print(len(names)) #리스트의 길이 출력하기
print(len('data analysis for everyone')) #문자열 길이 출력하기

# -------------------- 끝 -------------------------

In [ ]:
names = [쵸파,루디,상디,조르]
names.append('해적왕')
for name in names:
  if len(name) > 2 :
    print(name,'왔나요~?')